<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Main Logger file  -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
    		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
  		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>log-test.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
    		<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
  		</encoder>
	</appender>

	<!-- Append File Logger for each Test Class -->
	<appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
	      <key>userid</key>
	      <defaultValue>unknown</defaultValue>
	    </discriminator>
	    <sift>
	      <appender name="FILE-${userid}" class="ch.qos.logback.core.FileAppender">
	        <file>loggers/${userid}.log</file>
	        <append>false</append>
	        <layout class="ch.qos.logback.classic.PatternLayout">
	          <pattern>%d [%thread] %level %mdc %logger{35} - %msg%n</pattern>
	        </layout>
	      </appender>
	    </sift>
	</appender>

	<logger name="com.base22" level="TRACE" />

	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>